@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html,body{
    background-color: #fffef7;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial;
    color: #1a1f1e;
}

#container{
    background-color: #f9fff6;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    text-align: center;
}

table{
    border-bottom: 3px solid #6cbdb5;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 30px;
}

.movendo{
    opacity: 0.5;
}

th{
    padding: 10px;
    background-color: #6cbdb5;
}

td {
    padding: auto;
    background-color: #93ccc6;
    margin: 0px;
    border: none;
    padding: 10px;
    text-align: center;
}

button{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #6cbdb5;
    border-radius: 5px;
    color:#1a1f1e;
}

#incluir{
    position: relative;
    left: 39%;
    margin-top: 10px;
}

.sobe{
    padding: 0px;
    border: none;
}

.desce{
    padding: 0px;
    border: none;
}

.editar{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.excluir{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.modal-container{
    display: none;
    position: fixed;
    top: 0px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10% 35% 30% 32%;
}
.hide{
    display: block;
    transition: 1.5s;
}

div#sair{
    background-color: rgba(255, 0, 0, 0.582);
    border-radius: 0px 10px 0px 0px;
    position: absolute;
    padding: 5px 10px;
    right: 0px;
    top: 0px;
    color: aliceblue;
}

.modal{
    background-color: #c8d6bf;
    padding: 30px;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    /*align-items: center;*/
}

.modal input{
    width: 270px;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.modal button{
    margin-left: 240px;
}

.resp{
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
}

.resp.erro{
    color:rgba(172, 0, 0, 0.582);
    background-color: rgba(255, 0, 0, 0.205);
}

.resp.acerto{
    color:rgba(4, 95, 1, 0.575);
    background-color: rgba(7, 219, 0, 0.301);
}